body{
    font-family: 'Goldman', cursive;
    margin: 0;
    color: white;
    
}

.menuNavegacion{
  background-color: #304ffe;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo{
  padding-left: 10px;
 
}


.enlaces{
  
  display: flex;
  gap: 8px;
}

li{
  background-color: #304ffe;
  border: 1px solid #0026ca;
  text-align: center;
  list-style:none;
  padding: 7px;
  width: 124px;
}
li:hover{
  background-color: #0026ca;
}

li:checked{
  background-color: #0026ca;
}


a{
  text-decoration: none;
  color: white;
 
}

@media (max-width:350px){
  .enlaces{
      flex-direction: column;
  }
}