/* paleta de colores https://colorhunt.co/palette/e8f9fd79dae80aa1dd2155cd */

body{
    font-family: 'Goldman', cursive;
    margin: 0;
    color: white;
}

/* comienzo del Header */

header{
  /**background: #6b71db url(https://i.ibb.co/Cmch63x/background-header.png) center center/cover no-repeat local; */
  background-color: #2155cd;
background-image: -webkit-linear-gradient(0deg, #2155cd 0%, #0aa1dd 33%, #79dae8 66%, #e8f9fd 100%);
background-image: -moz-linear-gradient(0deg, #2155cd 0%, #0aa1dd 33%, #79dae8 66%, #e8f9fd 100%);
background-image: -o-linear-gradient(0deg, #2155cd 0%, #0aa1dd 33%, #79dae8 66%, #e8f9fd 100%);
background-image: linear-gradient(0deg, #2155cd 0%, #0aa1dd 33%, #79dae8 66%, #e8f9fd 100%);


}

#popupFlecha{
  display: flex;
  
  position: fixed;
  /* z-index: 100; */
  display: flex;
  margin-left: 10px;
  height: 40px;
  margin-top: 30%;
}

#popupFlecha img{
  height: 30px;
}


/* comienzo popup */

.envolturaPopup {
  background: rgba(0, 0, 0, 0.508);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.envolturaPopup img {
  width: 200px;
}

.popup {
  text-align: center;
  max-width: 300px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: 12vh auto;
  border-radius: 5px;
  position: relative;
}

.popupClose {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 20px;
  border-radius: 50%;
}


/* final popup */

.menuNavegacion{
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.menuNavegacion img{
  padding: 4px;
}

.logo{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.logo img{
  width: 46px;

}
.logo span{
  font-size: 27px;
  text-shadow: 0 0 2px #2155CD;
  margin-left: 10px;
}

.enlaces{
  display: flex;
  gap: 8px;
  
}

.divImgNav img{
  width: 16px;
}

.navLi{
  text-align: center;
  list-style:none;
  width: 124px;
  font-size: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navLi:hover{
  border-bottom: 1px solid white;

}

.navLi:checked{
  border-bottom: 2px solid #0026ca;
}

a{
  text-decoration: none;
  color: white;
}
/* fin del Header */


/* comienza el slide */
#carrusel{
  display: flex;
  justify-content: center;
}
.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: calc( 452px + 3em); */
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
/* termina slide */


/* comienza la section presentacion */
.secPresentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 60px 10px 60px;
}
.divTituloPresentacion{
  /* background: #6b71db url(https://i.ibb.co/jzKmwrn/imgDiv3.png) center center/cover no-repeat local; */
  background-color: #2155cd;
background-image: -webkit-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
background-image: -moz-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
background-image: -o-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
background-image: linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 18px 18px 0px 0px;
}
.divPresentacion{
  background: white;
  -webkit-box-shadow: -1px 5px 8px -4px #000000;
  box-shadow: -1px 5px 8px -4px #000000;
}

.pPresentacion{
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 18px;
}

.pesentacion{
  padding: 0 28px 0 28px;
  color: #000000;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.pesentacion:hover{
  padding: 0 18px 0 18px;
  font-size: 24px;
}
/* finaliza section de presentacion */

/* comienza section de tecnologias */
.tecnologias{
  color: #0026ca;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  /* padding: 100px; */
 
  
}

.tituloActitudes{
  height: 40px;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #000000;
  background-color: #2155cd;
  background-image: -webkit-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
  background-image: -moz-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
  background-image: -o-linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);
  background-image: linear-gradient(0deg, #2155cd 0%, #0aa1dd 100%);

  /*background: #6b71db url(https://i.ibb.co/fkvh6VN/imgDiv.png) center center/cover no-repeat local; */
  
}

#pTar{
  font-size: 18px;
  color: #ffffff;
}

.tecnologias img{
  width: 100%;
  height: 208px;
}

 p{
  color: #7d7c7c;
  
}

.divTarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 18px;
    background: #E8F9FD;
    width: 100%;

    
}

.parrafoTarjeta{
  color: #363636;
}

.tarjetaTec{
  display: inline-block;
  width: 250px;
  height: 368px;
  text-align: left;
  background: #ffffff;
  
}

.tarjetaTec:hover{
  font-size: 20px;
  -webkit-animation:jump 1s ease 0s 1 normal;
  -moz-animation:jump 1s ease 0s 1 normal;
  -ms-animation:jump 1s ease 0s 1 normal;
  animation:jump 1s ease 0s 1 normal;
  }
  
  @-webkit-keyframes jump{
  0%{ -webkit-transform:translateY(0); transform:translateY(0); }
  20%{ -webkit-transform:translateY(0); transform:translateY(0); }
  40%{ -webkit-transform:translateY(-30px); transform:translateY(-30px); }
  50%{ -webkit-transform:translateY(0); transform:translateY(0); }

  }
  
  @keyframes jump{
  0%{ transform:translateY(0); }
  20%{ transform:translateY(0); }
  40%{ transform:translateY(-30px); }
  50%{ transform:translateY(0); }

  }

.contendidoDivTec{
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  

}
 

.tarjetaTec span{
  margin-top: 12px;
  font-weight: bold;
  color: #000000;
}



.tarjetaTec p{
  color: #363636;
}
/* finaliza section de tecnologias */


/* comienza la section de imgPublicitario */

.sectionImgPubli{
  margin-top: 30px;
  height: 380px;
  width: 100%;

 
  background: #6b71db url(../img/banner2.png) center center/cover no-repeat local; 
}

/* finaliza la section de imgPublicitario */

/* comienza la section de conocimientos */

.sectionConocimientos{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
}

/* finaliza la section de conocimientos */


/* comienza el footer */
.divFooter{
  color: white;
  /*background: #6b71db url(https://i.ibb.co/Cmch63x/background-header.png) center center/cover no-repeat local; */
  background-color: #2155cd;
background-image: -webkit-linear-gradient(0deg, #2155cd 0%, #0aa1dd 50%, #79dae8 100%);
background-image: -moz-linear-gradient(0deg, #2155cd 0%, #0aa1dd 50%, #79dae8 100%);
background-image: -o-linear-gradient(0deg, #2155cd 0%, #0aa1dd 50%, #79dae8 100%);
background-image: linear-gradient(0deg, #2155cd 0%, #0aa1dd 50%, #79dae8 100%);


  margin-top: 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.divImgFoot{
  border-radius: 10px;
}

.divFooter span{
  padding: 10px;
}



.divFooter img{
  height: 50px;

  border-radius: 8px;
  margin-left: 28px;

   
}

.infoFooter{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 28px
}

/* finaliza el footer */


/* comienza el responsive */

@media (max-width:600px){
  .enlaces{
      flex-direction: column;
  }
  .logo span{
    display: none;
  }

}

@media (max-width:800px){
  .secPresentacion{
    padding: 70px 32px 10px 32px;
    
  }

  .menuNavegacion{
    flex-direction: column;
  }

  .divImgNav img{
    display: none;
  }

  .logo span{
    display: none;
  }

  .divImgFoot{
    display: none;
  }

  .infoFooter{
    align-items: center;
  }

  .divFooter{
    flex-direction: column;
  }
}

